svg {
  width: 100%;
  height: 100%;
}

.wrapper-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;
  font-size: 14px;
  padding: 10px;
  position: relative;
}

.wrapper-section__text {
  text-align: center;
  line-height: 20px;
}

.wrapper-section__btn {
  padding: 10px 20px;
  background: rgb(151, 90, 207);
  color: #fff;
  border-radius: 5px;
}

.wrapper-section__btn:hover {
  background: rgb(158, 98, 238);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(253, 238, 190, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 300px;
  padding: 10px 15px;
  background: #363636;
  border-radius: 5px;
  color: #fff;
  position: relative;
  text-align: center;
}

.modal span {
  font-weight: bold;
}

.close-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* background: rgb(167, 20, 20);
  color: #fff; */
  position: absolute;
  top: 0px;
  right: 0px;
  transform:translate(50%, -50%);
  color: rgb(167, 20, 20);


}

.close-btn:before {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  z-index: -100;
}

.close-btn:hover {
  /* background: rgb(211, 56, 56); */
  color: rgb(211, 56, 56);
}